.search-bar-input{
  height: 20px;
  border: 2px solid rgba(20, 158, 147, 0.4);
  position: relative;
  left: 15px;
  top: 7px;
  z-index: 2;
  padding: 10px;
  border-radius: 5px;
  font-size: 20px;
  transition: .5s border-color ease;
}
.search-bar-input:hover{
  border-color: rgb(224, 177, 22);
}

.search-bar-input:focus{
  outline: none;
}